
@media screen and (max-width: 600px) {
    .body{
        margin: 20px 60px;
    }

    .body section{
        margin-bottom: 25px;
    }
    .header, .nav-img{
        z-index: 999;
    }
    .header img{
        height: 30px;
    }

    .header h1{
        font-size: 20px;
    }

    .nav-img{
        display: block;
    }
    .nav-item{
        display: none;
    }

    .nav-item li{
        margin: 10px 0;
    }
    .nav-bar:hover .nav-item{
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        padding-top: 50px;
        left: 0;
        right: 0;
        background-color: #fff;
    }

    .nav-item, .explore-travel-container-form{
        flex-direction: column;
    }
    /* start explore travel */
    .explore-travel-container{
        height: 483px;
        background-size: cover;
        background-position: center;
    }

    .explore-travel{
        margin: 32px 24px;
    }
    .explore-travel-desc h1{
        font-size: 22px;
    }

    .explore-travel-desc p{
        font-size: 14px;
        margin: 20px 0;
    }

    .explore-travel-container-form{
        gap: 16px;
    }
    .explore-input,.findNowImg{
        width: 200px;
        
        height: 52px;
        box-sizing: border-box;
    }
    /* end explore travel */

    /* start main */

    /* start popular tours */

    .popular-tour-container{
        flex-direction: column;
        align-items: normal;
    }

    .popular-tour-container>div{
        width: 100%;
    }

    .popular-tour-container> img{
        height: 342px;
        margin: 25px 0;
    }

    .popular-tour-heading{
        font-size: 20px;
    }

    .popular-tour-pera, .popular-tour-list{
        font-size: 14px;
    }
    /* end popular tours */

    /* start destination container */
    .destination-country{
        display: flex;
        flex-direction: column;
    }

    .destination-country div{
        font-size: 28px;
    }
    /* end destination container */

    /* start why choose us */
    .why-choose-container-desc h1{
        font-size: 20px;
    }

    .why-choose-container-desc p{
        font-size: 14px;
    }

    .why-choose-container-service div{
        margin-top: 16px;
        height: 100%;
        width: 100%;
    }

    .why-choose-container-service img{
        height: 48px;
    }

    .why-choose-container-service h1{
        font-size: 20px;
        margin: 16px 0;
    }

    .why-choose-container-service p{
        font-size: 14px;
    }
    /* end why choose us */

    /* start deals and pricing */
    .deals-card{
        align-items: center;
        justify-content: end;
    }
    .pricing{
        height: 70%;
        width: 95%;
       margin: 16px;
       padding: 25px;
    }

    .deals-card-pricing{
        gap: 10px;
        margin-bottom: 10px;
    }
    /* end deals and pricing */

    .popular-tour-container video{
        height: 200px;
        margin: 24px 0;
    }


    /* start news letter container */
    .news-letter-container{
        flex-direction: column;
    }

    .news-letter-card, .offer-container{
        width: 100%;
    }

    .news-letter-heading h1{
        font-size: 20px;
    }

    .news-letter-heading p{
        font-size: 16px;
    }

    .offer h1{
        font-size: 20px;
    }

    .offer h2{
        font-size: 15px;
    }
    /* end news letter container */
    /* end main */

    /* start footer */
    .footer-header img{
        height: 33px;
        width: 28px;
    }

    .footer-header h1{
        font-size: 21px;
    }

    .footer p, .copyright{
        font-size: 14px;
    }

    /* end footer */
}